html, body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: OldLace;
}

.header {
  padding: 15px 20px;
  margin: 0 0 30px 0;
  background-color: BurlyWood;
}

body > p {
  padding: 0px 1.5em;
  font-size: 18px;
  font-family: Arial;
}

.header h1 {
  margin: 0;
  font-family: Georgia;
}

a:link {
  color: DarkCyan;
}

a:visited {
  color: DarkCyan;
}

.work-samples {
  padding-bottom: 3em;
}

.work-samples ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 2vw 0;
  padding-left: 0px;
  list-style-type: none;
  font-size: 22px;
  font-family: Arial;
}

.work-samples ul > li {
  display: flex;
  flex-wrap: wrap;
  max-width: 22em;
  margin: 30px 1vw 0;
  padding: 20px;
  background: rgba(150, 150, 150, 0.20);
  border-radius: 20px;
}

.work-samples .links-tags a {
  margin-right: 14px;
  font-size: 18px;
}

.work-samples p {
  font-size: 16px;
  padding: 5px 30px;
}

.work-samples p.tags {
  font-size: 14px;
  color: #999999;
  padding: 0;
  margin: 15px 0 0;
}

#tag-selector-div {
  display: flex;
  width: 40em;
  max-width: 100vw;
  margin: 1.5em 0 0 1.5em;
  column-count: 4;
  font-size: 18px;
}

#tag-selector-div h4 {
  margin: 0 .2em .5em;
}

.tag-section {
  margin-right: 2em;
}

input {
  width: 1.3em;
  height: 1.3em;
}
